//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700');
@import "variables";

$media: "screen" !default;

@if $media == "print" {
  $body-bg: #ffffff;
  $font-size-base: 12px;
  $line-height-base: 1.2;
  $text-color: #444;
}

@import "../../../node_modules/bootstrap-sass-noprint/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

#main-panel {
  margin-top: 50px;
  border-top: none;
  > .panel-heading {

    background: #EFF8FF;

    h1, h2, h3, h4 {
      float: left;
      font-size: 150%;
      line-height: 1.5;
      vertical-align: middle;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 600;
    }
  }
}

.navbar-nav > li > a {
  font-weight: 600;
}

.panel-form {
  h4 {
    line-height: 30px;
  }
}

table.table > tbody > tr > td,
table.table > tbody > tr > th,
table.table > thead > tr > td,
table.table > thead > tr > th {
  vertical-align: middle;
}

ul.tree {
  .tree--child {
    margin-left: 15px;

    ul.list-unstyled {
      margin-left: 0;
    }
  }
  ul {
    margin-left: 15px;
  }

  .tree--item {
    display: block;
    background: #F7F7F7;
    margin-bottom: 5px;
    @extend .clearfix;
    position: relative;

    .tree--item--label {
      display: block;
      padding: 7px;
    }

    .tree--item--actions {
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }

}

.container-row {
  overflow-x: auto;

  .table {
    width: auto;
  }

  td .form-control {
    width: 150px;
  }
}

.scrollpane {
  overflow-x: auto;
}

.panel-sm {
  .panel-body {
    padding: 10px;
  }
}

.bg-black {
  background: #222;
  color: #fff;
}

.bg-grey-light {
  background: #F1F5F8;
}

td.bg-grey-light, td.bg-grey-lighter,
th.bg-grey-light, th.bg-grey-lighter {
  border-bottom: 1px solid #F8FAFC;
}

.bg-grey-lighter {
  background: #F8FAFC;
}

.autocomplete-panel {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

.btn-violet {
  @include button-variant(#fff, $btn-violet-bg, darken($btn-violet-bg, 5%));
}

.btn-outline {
  background: none;
}

.btn-rounded {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;

}

.btn-primary.btn-outline {
  color: $brand-primary;

  &:focus, &:hover, &.active {
    color: $btn-primary-color;
  }
}

.btn-info.btn-outline {
  color: $brand-info;

  &:focus, &:hover, &.active {
    color: $btn-info-color;
  }
}

.btn-success.btn-outline {
  color: $brand-success;

  &:focus, &:hover, &.active {
    color: $btn-success-color;
  }
}

.btn-warning.btn-outline {
  color: $brand-warning;

  &:focus, &:hover, &.active {
    color: $btn-warning-color;
  }
}

.btn-danger.btn-outline {
  color: $brand-danger;

  &:focus, &:hover, &.active {
    color: $btn-danger-color;
  }
}

.btn-violet.btn-outline {
  color: $btn-violet-bg;

  &:focus, &:hover, &.active {
    color: #fff;
  }
}

a, .btn, a:focus, btn:focus {
  outline: none;
}

.autocomplete-panel {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
}

// Table with fixed headers
.table-fixed thead {
  width: 100%;
}

.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
  border-top: 2px solid #ddd;
}

.table-fixed thead, .table-fixed tbody,
.table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed tr:after {
  content: ' ';
  display: block;
  clear: both;
}

.table-breakdown {
  margin-bottom: 0;

  tbody {
    max-height: 450px;
    overflow-y: auto;
    display: block;
  }
}

.filter-form {
  margin-bottom: 20px;

  .btn {
    margin-top: 25px;
  }

  .btn-group-block .btn {
    margin-top: 0;
  }

  .form-group-sm p {
    margin: 5px 0 5px;
  }
}

.dropdown-menu > li > .btn-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
  text-align: left;
  float: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
}

body#iframe {
  background-color: #fff;

  .container-fluid {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-body.iframe {
  padding: 0;
  height: 500px;
}

.modal .alert {
  margin-bottom: 0;
}

.project-nav {
  margin-bottom: 15px;
  text-align: right;
}

.wbs-tree {
  padding-left: 0;
  max-height: 500px;
  overflow: auto;

  li {
    list-style-type: none;
    position: relative;

    .wbs-item:hover {
      background-color: #f5f5f5;
      color: $text-color;
    }

    .wbs-item.active {
      background-color: $brand-primary;
      color: #fff;

      a {
        color: #fff;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .wbs-item {
      display: block;
      padding: 5px 5px 5px 21px;
    }
  }

  ul {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px dotted #ccc;
  }

  .wbs-icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  a:hover {
    text-decoration: none;
  }
}

.wbs-panel .panel-title {
  margin-top: 7px;
  margin-bottom: 7px;
}

#wbs-display {
  .tab-pane {
    padding-top: 20px;
    position: relative;
  }

  .loader {
    height: 100%;
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bg-blue {
  background-color: #a9cbf1;
}

.bg-green {
  background: #92d050;
}

.bg-orange {
  background: #FF7F50;
  color: #fff;
}

.bg-violet {
  background: $btn-violet-bg;
  color: #fff;
}

.btn-group-block {
  display: flex;

  .btn {
    white-space: initial;
    display: flex;
    align-items: center;
  }

  .btn:first-child {
    flex: 1;
  }
}

#CodesPanel li {
  display: flex;
  justify-content: space-between;
}

.user-permission-name {
  line-height: 30px;
}

select[multiple].dropdown-templates {
  height: 300px;
}

.activity-panel .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    flex: 1
  }

  .form-control {
    width: 200px;
  }
}

table.collapse.in {
  display: table;
}

.padding {
  padding-right: 300px;
}

.cell-borders {
  border: 1px solid lightgray;
}

.firstGroup {
  background: #a9eee6;
  color: #000;
}

.secondGroup {
  background: #f9a1bc;
  color: black;
}

.thirdGroup {
  background: #a6e1ec;
  color: black;
}

.names {
  background: #cebce3;
  color: black;
}

.blackBorder {
  border: 2px solid black;
}

.wbsLevelOne {
  background-color: #1B3C59 !important;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.boqLevelOne {
  background-color: #34495E;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelOne > div > a {
  background-color: #34495E;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelTwo {
  background-color: #75C3C5;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelTwo > div > a {
  background-color: #75c3c5;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelThree {
  background-color: #AACFD0;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelThree > div > a {
  background-color: #AACFD0;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelFour {
  background-color: #c3eaeb !important;
  color: black !important;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.boqLevelFour > div > a {
  background-color: #c3eaeb;
  color: black !important;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.modal-scroll {
  max-height: 400px;
  overflow-y: auto;
}

.chart-container {
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .chart {
    min-height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  flex: 1;
}

.text-strong {
  font-weight: 700;
}

.table > thead > tr > td.warning, .table > thead > tr > th.warning,
.table > thead > tr.warning > td, .table > thead > tr.warning > th,
.table > tbody > tr > td.warning, .table > tbody > tr > th.warning,
.table > tbody > tr.warning > td, .table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th {
  color: #fff;
}

.project-nav .btn-toolbar {
  margin-left: 0;
}

.btn-toolbar .dropdown {
  margin-right: 5px;
}

table.table > tbody > tr > td.v-top, table.table > tbody > tr > th.v-top, table.table > thead > tr > td.v-top, table.table > thead > tr > th.v-top {
  vertical-align: top;
}

.card {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: $body-bg;
  margin-bottom: 15px;
  font-size: 90%;

  .card-title {
    margin: 0;
    padding: 10px;
    font-size: 150%;
    font-weight: 600;
    line-height: 1.4;
    background-color: #EFF8FF;
    color: #1C3D5A;

    &.blue {
      background-color: #3490DC;
      color: #f5f5f5;
    }

    &.cyan {
      background-color: #4DC0B5;
      color: #f5f5f5;
    }

    &.orange {
      background-color: #DE751F;
      color: #f5f5f5;
    }

    &.purple {
      background-color: #9561E2;
      color: #f5f5f5;
    }

    &.light-blue {
      background-color: #BCDEFA;
    }

    &.brown {
      background-color: #684F1D;
      color: #f5f5f5;
    }

    &.dark {
      background-color: #2F365F;
      color: #f5f5f5;
    }
    &.dark-cyan {
      background-color: #179fc0;
      color: #f5f5f5;
    }
    &.dark-green {
      background-color: #E2EFD9;
      color: black;
      text-decoration: underline;
    }
  }

  .card-body {
    padding: 10px;
    background-color: #FFF;

    &.highlight {
      background-color: #FFE;
    }
  }
  .card-row {
    //margin-bottom: 10px;
    //padding-bottom: 10px;
    border-bottom: 1px solid #F1F5F8;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  > .table {
    margin-bottom: 0;
  }

  .table {
    .highlight td, .highlight th {
      background-color: #ffc;

      &.separator {
        border: none;
        background-color: transparent;
      }
    }

    .bg-primary td, .bg-primary th {
      background-color: $brand-primary;
    }
  }
}

dl {
  display: flex;
  //font-size: 12px;
  margin-bottom: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

dt {
  background: #D9E1F2;
  padding: 5px;
  text-align: left;
  color: #444;
  //font-size: 12px;
  width: 50%;
  border-right: 2px solid gray;
}

dd {
  background: #fff;
  padding: 5px;
  flex: 1;
  font-weight: 700;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-10 {
  margin-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

/* .highlight {
  background: #ffc;
} */

.w-1-3 {
  width: 9%;
  min-width: 9%;
  max-width: 9%;
}

.w-30p {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
  background-color: #D9E1F2 !important;
  border-right: 2px solid gray !important;
}

.w-2-3 {
  width: 24%;
  min-width: 24%;
  max-width: 24%;
}

.card .table tr.bg-cyan th {
  background-color: #4DC0B5;
  color: black;
}

section.sm-card {
  height: 250px;
}

table.budget-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

table.budget-info > thead > tr > th {
  background-color: #D9E1F2 !important;
  color: #444;
}

table.budget-info > tbody > tr > th,
table.budget-info > thead > tr > th:first-child {
  color: #444;
  background-color: #D9E1F2 !important;
}

.card-group-item {
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: 1px solid black;
  font-size: 90%;

  page-break-inside: avoid;
}

.card-group-item-heading {
  color: #70818a;
  font-weight: 700;
  text-decoration: underline;
}

dl.dl-margin {
  margin-top: 20px;
}

.row-height {
  height: 37px;
}

.actual-data-cell {
  background-color: #D9E1F2;
  border: 1px solid black;
}

.cost-summary-group {
  text-align: center;
  background-color: #002060 !important;
  color: white;
}

.cost-summary-header {
  background-color: #D9E1F2 !important;
  color: black;
}

.cost-summary-side {
  background-color: #D9E1F2 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.br-1 {
  border-right: 1px solid #e5e5e5;
}

.bg-blue-lightest {
  background-color: #EFF8FF;
}

.bg-blue-lighter {
  background-color: #cce8ff;
}

.bg-blue-light {
  background-color: #a8d8ff;
}

.charter-table {
  color: #171a1c;
}

.breakdown-resource {
  //border-bottom: 1px solid #b8d0e0;

  &:hover, &:nth-child(odd):hover, &.active, &.highlight:hover {
    background-color: #fefef0;
  }

  .tag {
    color: #9e9e9e;
    font-size: 90%;
  }

  &:nth-child(odd) {
    background-color: $body-bg;
  }

  &:nth-child(even) {
    background-color: #fff;
  }

  &.highlight {
    background-color: #ffc;
    border-bottom: 1px solid #f4ed25;
  }

  .actions {
    margin-left: 10px;
  }

  .actions .btn {
    display: block;
    margin-bottom: 5px;
  }

  .card-body {
    background: transparent;
    align-items: flex-start;
  }
}

.display-flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vertical-scroll-pane {
  max-height: 500px;
  overflow-y: auto;
}

.activity-section {
  margin-bottom: 1px;
}

.breakdown-activity-header {
  padding: 5px 10px;
  background: $brand-primary;
  color: #e5e5e5;

  h5 {
    margin: 0;
  }

  a {
    color: #f0f9ff;
    display: block;
  }
}

.card-group-item canvas {
  max-width: 100%;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-name {
    font-weight: 700;
  }
}

.text-danger .fa:before {
  color: $state-danger-text;
}

.text-success .fa:before {
  color: $state-success-text;
}

.borderless {
  border: none !important;
}

.border {
  border: 1px solid #fefefe;
}

td.optimistic {
  background: #E3FCEC;
}

td.most-liekly {
  background: #FCFBEB;
}

td.pessimistic {
  background-color: #FCEBEA;
}

.bg-grey {
  background: #F1F5F8;
}

th.table-caption {
  font-size: 114%;
  font-weight: 600;
}

.concern-btn {
  visibility: hidden;
}

@media screen {
  tr:hover .concern-btn {
    visibility: visible;
  }
}
