@import "variables";

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

#main-panel {
  > .panel-heading {
    h1, h2, h3, h4 {
      @extend .pull-left;
      font-size: 20px;
      line-height: 1.5;
      vertical-align: middle;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

table.table>tbody>tr>td,
table.table>tbody>tr>th,
table.table>thead>tr>td,
table.table>thead>tr>th {
  vertical-align: middle;
}

ul.tree  {
  ul {
    margin-left: 15px;
  }

  .tree--item {
    display: block;
    background: #ECF0F1;
    margin-bottom: 5px;
    padding: 10px;
    @extend .clearfix;
    position: relative;

    .tree--item--label {
      display: block;
    }

    .tree--item--actions {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

}