@import "variables";

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

#main-panel {
  > .panel-heading {
    h1, h2, h3, h4 {
      @extend .pull-left;
      font-size: 20px;
      line-height: 1.5;
      vertical-align: middle;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}