@import "variables";

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

#main-panel {
  > .panel-heading {
    h1, h2, h3, h4 {
      @extend .pull-left;
      font-size: 20px;
      line-height: 1.5;
      vertical-align: middle;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

table.table>tbody>tr>td,
table.table>tbody>tr>th,
table.table>thead>tr>td,
table.table>thead>tr>th {
  vertical-align: middle;
}

ul.tree  {
  .tree--child {
    margin-left: 15px;

    ul.list-unstyled {
      margin-left: 0;
    }
  }
  ul {
    margin-left: 15px;
  }

  .tree--item {
    display: block;
    background: #F7F7F7;
    margin-bottom: 5px;
    @extend .clearfix;
    position: relative;

    .tree--item--label {
      display: block;
      padding: 7px;
    }

    .tree--item--actions {
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }

}

.container-row {
  overflow-x: auto;

  .table {
    width: auto;
  }

  td .form-control {
    width: 150px;
  }
}

.scrollpane {
  overflow-x: auto;
}

.panel-sm {
  .panel-body {
    padding: 10px;
  }
}

.tab-actions {
  margin-top: 15px;
}

.bg-black {
  background: #222;
  color: #fff;
}

.autocomplete-panel {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

.btn-outline {
  background: none;
}

.btn-primary.btn-outline {
  color: $brand-primary;

  &:focus, &:hover {
    color: $btn-primary-color;
  }
}

.btn-success.btn-outline {
  color: $brand-success;

  &:focus, &:hover {
    color: $btn-success-color;
  }
}

.btn-warning.btn-outline {
  color: $brand-warning;

  &:focus, &:hover {
    color: $btn-warning-color;
  }
}

.btn-danger.btn-outline {
  color: $brand-danger;

  &:focus, &:hover {
    color: $btn-danger-color;
  }
}

a, .btn {
  outline: none;
}

.autocomplete-panel {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
}

// Table with fixed headers
.table-fixed thead {
  width: 100%;
}

.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
  border-top: 2px solid #ddd;
}

.table-fixed thead, .table-fixed tbody,
.table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed tr:after {
  content: ' ';
  display: block;
  clear: both;
}

.table-breakdown {
  margin-bottom: 0;

  tbody {
    max-height: 450px;
    overflow-y: auto;
    display: block;
  }
}

.filter-form {
  margin-bottom: 20px;

  .btn {
    margin-top: 25px;
  }

  .form-group-sm p {
    margin: 5px 0 5px;
  }
}

.dropdown-menu > li > .btn-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
  text-align: left;
  float: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
}

body#iframe {
  background-color: #fff;

  .container-fluid {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.modal-body.iframe {
  padding: 0;
}