
// Body
$body-bg: #F8FAFC !default;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #2779BD;
$brand-info: #4DC0B5;
$brand-success: #1F9D55;
$brand-warning: #F2D024;
$brand-danger:  #EF5753;

// Typography
$font-family-sans-serif: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 13px !default;
$line-height-base: 1.6 !default;
$text-color: #636b6f !default;

// Navbar
$navbar-default-bg: #1C3D5A;
$navbar-default-color: #BCDEFA;
$navbar-default-link-color: #BCDEFA;
$navbar-default-link-hover-color: #EFF8FF;
$navbar-default-link-active-color: #EFF8FF;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: #B8C2CC; // lighten($text-color, 40%);
$input-border-focus: #6CB2EB; //lighten($brand-primary, 25%);
$input-color-placeholder: #DAE1E7; //lighten($text-color, 30%);
$input-border-radius: 0;
$input-border-radius-small: 0;
$input-border-radius-large: 0;

// Panels
$panel-default-heading-bg: #fff;

// Alerts
$alert-padding: 10px;
$alert-border-radius: 0;

$btn-violet-bg: #794ACF;

$state-warning-bg: $brand-warning;
$state-warning-text: #fff;